@model TransitFeeds.Models.TransitRoute

@{
    ViewData["Title"] = "Create Route";
}

<div class="app-header">
    <div class="header-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="header-actions">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GtfsRouteId" class="control-label"></label>
                    <input asp-for="GtfsRouteId" class="form-control" />
                    <span asp-validation-for="GtfsRouteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class ="form-control" asp-items="ViewBag.AgencyId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="RouteShortName" class="control-label"></label>
                    <input asp-for="RouteShortName" class="form-control" />
                    <span asp-validation-for="RouteShortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RouteLongName" class="control-label"></label>
                    <input asp-for="RouteLongName" class="form-control" />
                    <span asp-validation-for="RouteLongName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RouteType" class="control-label"></label>
                    <input asp-for="RouteType" class="form-control" />
                    <span asp-validation-for="RouteType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RouteTextColor" class="control-label"></label>
                    <input asp-for="RouteTextColor" class="form-control" type="color" />
                    <span asp-validation-for="RouteTextColor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RouteColor" class="control-label"></label>
                    <input asp-for="RouteColor" class="form-control" type="color" />
                    <span asp-validation-for="RouteColor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RouteUrl" class="control-label"></label>
                    <input asp-for="RouteUrl" class="form-control" />
                    <span asp-validation-for="RouteUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RouteDesc" class="control-label"></label>
                    <textarea asp-for="RouteDesc" class="form-control"></textarea>
                    <span asp-validation-for="RouteDesc" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
