@model TransitFeeds.Models.Agency

@{
    ViewData["Title"] = "Edit Agency";
}

<div class="app-header">
    <div class="header-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="header-actions">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="GtfsAgencyId" class="control-label"></label>
                    <input asp-for="GtfsAgencyId" class="form-control" />
                    <span asp-validation-for="GtfsAgencyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyName" class="control-label"></label>
                    <input asp-for="AgencyName" class="form-control" />
                    <span asp-validation-for="AgencyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyUrl" class="control-label"></label>
                    <input asp-for="AgencyUrl" class="form-control" />
                    <span asp-validation-for="AgencyUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyTimezone" class="control-label"></label>
                    <input asp-for="AgencyTimezone" class="form-control" />
                    <span asp-validation-for="AgencyTimezone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyPhone" class="control-label"></label>
                    <input asp-for="AgencyPhone" class="form-control" />
                    <span asp-validation-for="AgencyPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgencyLang" class="control-label"></label>
                    <input asp-for="AgencyLang" class="form-control" />
                    <span asp-validation-for="AgencyLang" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
